body{
    background-color: rgba(240, 244, 244, 0.018);
    background-image: url("https://images.pexels.com/photos/1287142/pexels-photo-1287142.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(29, 205, 94);
    text-align: center;
}

.parrafo-principal{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(21, 84, 139);
    text-align: justify;
    line-height: 2px;
}

#parrafo-unico{
    font-size: 20px;
    text-align: left;
    
}

.parrafo-fondo{
    background-color: rgb(243, 243, 21);
}

a{
    text-decoration: none;
    font-size: 24px;
}

.titulo-mayuscula{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: green;
    letter-spacing: 5px;
}

.caja{
    background-color: aqua;
    border-style: solid;
    border-color: firebrick;
    border-width: 5px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    width: 300px;
    height: 400px;
}

.caja h2{
    border: 5px dotted rgb(82, 51, 134);
    padding: 10px 50px 30px 20px;
    margin: 30px 30px 40px 40px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.display-linea{
    display: block;
}

.display-bloque{
    display: inline;
}